<div style="position: fixed;width: 100%;">
<nav class="navbar navbar-default" style="margin-bottom: 0%;">
    <div class="container-fluid">
            <div class="col-md-3">
                <a href="https://www.euromonitor.com/"><img src="https://www.euromonitor.com/content/images/logos/emi-logo.svg" style="width: 100%;padding: 1%;" ></a>     
            </div>
            <div class="col-md-7" style="text-align: center; ">
                <h1 style="font-weight: 500;font-family: Cursive; font-size: 400%;margin: auto;">Approval Management System</h1>
            </div>
    </div>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">    
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/home">Home</a></li>
      <li><a class="nav-link" routerLink="/about">About</a></li>     
      <li><a class="nav-link" routerLink="/home">Employee data</a></li>
      <li><a class="nav-link" routerLink="/home">Approval Management</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</div>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start text-white footer">       
    <div class="text-center p-3" style="padding: 0.5%;">
      © 2022 Copyright: <a class="text-white" href="https://www.euromonitor.com/">Euromonitor.com</a>
    </div>
</footer>





