<div>
<div style="position: relative;width: 100%;">
<nav class="navbar navbar-default" style="margin-bottom: 0%;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://www.euromonitor.com/"><img src="https://www.euromonitor.com/content/images/logos/emi-logo.svg" style="width: 100%;padding: 1%;" ></a> 
        </li>
      </ul>
      <ul class="nav navbar-nav" style="padding-top:1.5%; margin-left: 5%;">
        <li>
          <h1 style="font-size: 300%;margin: auto;">BUDGET APPROVAL MANAGEMENT SYSTEM</h1>
        </li>
      </ul>
    </div>
</nav>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>  
    <button mat-button [routerLink]="['/about']">{{title}}</button>
    <button mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon></button>
    <button mat-button [routerLink]="['/about']">About</button>
  </span>
  <span class="example-spacer"></span>
  <div *ngIf="isAuthenticated">
    <div *ngIf="role!=6">
      <span>
        <button mat-button [routerLink]="['apms']">Budget Approval Management System</button>
        <button mat-button (click)="openSnackBar('Employee Management System functionality is not yet implemented', 'Okay')">Employee Details</button>
      </span>
    </div>
    <div *ngIf="role==6">
      <span>
        <button mat-button [routerLink]="['my-books']">My Books</button>
      </span>
    </div>   
  </div>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
  </div>
  <button *ngIf="isAuthenticated" mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
 <div mat-menu-item *ngIf="isAuthenticated">
   <h1>{{this.userName}}</h1>
 </div>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
</div>
<div class="routeroutlet" style="background-color: #cfe0dd; overflow-x: hidden;"><router-outlet></router-outlet></div>
<div class="footer">
  <footer class="text-center text-lg-start text-white footer">       
    <div class="text-center p-3" style="padding: 0.5%;">
      © 2022 Copyright Euromonitor is privately owned & trademarked.
    </div>
</footer>
</div>
</div>







